body{
    background-color: rgb(223, 218, 218);
}

#heading{
    font-family: "Ubuntu", sans-serif;
}
#Heading{
    font-family: "Ubuntu", sans-serif;
    margin-top: 10px;
    font-size: 45px;
}
p{
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
}
.one{
    text-align: center;
    margin-top: 5rem;
}
.two img{
    height: 300px;
    width: 270px;
    padding: 10px;
    border-radius: 40px;
}
.two{
    justify-content: center;
    display: flex;
    margin-top: 30px;

}